.nav {
  min-height: 7vh;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
  a {
    color: #071eb3;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5rem;

    &:hover {
      color: #071eb3a9;
    }
  }
}