.nav {
  min-height: 7vh;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;

  a {
    color: #071eb3;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5rem;

    &:hover {
      color: #071eb3a9;
    }
  }
}

.page-1 {
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem;

  .titlePage1 {
    display: flex;
    align-items: center;
    background: #071eb3;
    width: 25rem;
    max-height: 4rem;
  }

  h1 {
    font-size: 38px;
    color: #ffffff;
    margin: 0.5rem;
  }

  .reviewOverride {
    position: relative;
  }

  .reviewContainer {
    //position: absolute;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    margin-top: 5rem;
    padding: 2rem;
    color: #161616;
    max-width: 1002px;

    .review {
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0;
      font-weight: bold;
      width: 565px;
    }

    .reviewTitleContainer {
      display: flex;
      flex-direction: column;

      .reviewName {
        font-size: 32px;
        font-weight: bold;
      }

      .reviewPosition {
        font-size: 14px;
        color: #a5a5a5;
      }
    }
  }

  .reviewController {
    position: absolute;
    z-index: 2;
    bottom: -30px;
    left: 80%;
    display: flex;
    color: #ffffff;

    .reviewCount {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #071eb3;
      font-size: 32px;
      margin-right: 0.2rem;
      width: 120px;
    }

    .reviewArrows {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #071eb3;
      height: 56px;
      width: 56px;

      &:hover {
        background: #071eb3a9;
      }
    }
  }
}

.page-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
  color: #161616;

  .sectionLeft {
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
    max-width: 350px;

    .titlePage2 {
      display: inline-block;
      text-decoration: none;

      //background: #071eb3;
      h1 {
        font-size: 36px;
        color: #fff;
        line-height: 1.8;
      }

      span {
        padding: 0.5rem;
        box-shadow: inset 0 -70px 0 0 #071eb3;
      }
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 5rem;

    .row {
      display: flex;
    }

    .col {
      flex: 1;
    }

    .estimateTitle {
      display: flex;
      font-size: 72px;
      letter-spacing: 1px;
      text-align: right;
      color: #071eb3;
      font-weight: medium;

      p {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.77px;
      }
    }

    .estimateSubtitle {
      font-size: 14px;
      font-weight: bold;
    }

    #rangeValue {
      position: relative;
      display: block;
      text-align: center;
      font-size: 6em;
      color: #999;
      font-weight: 400;
    }

    .range {
      margin: 2rem 0;
      width: 100%;
      height: 15px;
      -webkit-appearance: none;
      background: #f0f2ff;
      outline: none;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: inset 0 0 5px #f0f2ff;
    }

    .range::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #f0f2ff;
      cursor: pointer;
      border: 4px solid #071eb3;
      box-shadow: -407px 0 0 400px #071eb3;
    }

    .rangeContainer {
      margin-bottom: 4rem;
    }

    .rangeInputContainer {
      text-align: right;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    .rangeTitle {
      font-size: 14px;
      font-weight: bold;
      max-width: 126px;
      text-align: left;
    }

    .rangeInput {
      height: 52px;
      border: 1px solid #d6dcff;
      font-size: 36px;
      max-width: 190px;
      color: #161616;
    }

    input[type="text"]#subdomaintwo {
      height: 52px;
      font-size: 36px;
      -webkit-appearance: none !important;
      text-align: right;
      width: 180px;
      margin: 0 0 0 -7px;
      background: white;
      border: 1px solid #d6dcff;
      border-style: solid solid solid none;
      border-radius: 4px;

      &:focus {
        border: 1px solid #d6dcff;
        border-style: solid solid solid none;
        outline-style: none;
        //border: none;
      }
    }

    input[type="text"]#subdomain {
      height: 52px;
      -webkit-appearance: none !important;
      border-right: 0px;
      outline: none;
      width: 35px;
      background: white;
      border: 1px solid #d6dcff;
      border-style: solid none solid solid;
      color: #C7C7C7;
      font-size: 36px;
      line-height: 40px;
      border-radius: 4px;
    }
  }

  .dobleInput {
    display: flex;
  }

  .fullTimeInput {
    border: 1px solid #d6dcff;
    height: 52px;
    width: 62px;
    font-size: 36px;
    border-radius: 4px;
    text-align: right;

    &:focus {
      border: 1px solid #d6dcff;
      outline-style: none;
      //border: none;
    }
  }
}

$input-range-primary-color: #071eb3 !default;
$input-range-neutral-light-color: #e6e9ea !default;
$input-range-disabled-color: #cccccc !default;

/* input-range-slider */
$input-range-slider-background: #ffffff !default;
$input-range-slider-height: 1rem !default;
$input-range-slider-width: 1rem !default;
$input-range-slider-transition: transform 200ms ease-out,
box-shadow 200ms ease-out !default;
$input-range-slider-container-transition: left 200ms ease-out !default;
$input-range-slider-active-transform: scale(1.15) !default;
$input-range-slider-disabled-background: $input-range-disabled-color !default;
$input-range-slider-disabled-border: 1px solid $input-range-disabled-color !default;

/* input-range-track */
$input-range-track-background: $input-range-neutral-light-color !default;
$input-range-track-height: 6px !default;
$input-range-track-transition: left 200ms ease-out,
width 200ms ease-out !default;
$input-range-track-active-background: $input-range-primary-color !default;
$input-range-track-disabled-background: $input-range-neutral-light-color !default;

/* _input-range-slider.scss */
.input-range__slider {
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $input-range-slider-height * 2;
  width: $input-range-slider-width * 2;

  margin-left: $input-range-slider-width * -1;
  margin-top: $input-range-slider-height * -1;
  outline: none;
  position: absolute;
  top: -1px;
  transition: $input-range-slider-container-transition;

  will-change: left;

  &::before {
    background: $input-range-slider-background;
    border-radius: 100%;
    display: block;
    content: '';
    height: $input-range-slider-height;
    width: $input-range-slider-width;
    transition: $input-range-slider-transition;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    will-change: transform, box-shadow;
    border: 3px solid $input-range-primary-color;
  }

  &:active::before {
    transform: $input-range-slider-active-transform;
  }

  &:focus::before {
    box-shadow: 0 0 0 5px rgba($input-range-primary-color, 0.2);
  }

  .input-range--disabled &::before {
    background: $input-range-slider-disabled-background;
    border: $input-range-slider-disabled-border;
    box-shadow: none;
    transform: none;
  }
}

/* _input-range-label.scss */
/* not imported */

/* _input-range-label-container.scss */
.input-range__label-container {
  display: none;

  .input-range__label--min,
  .input-range__label--max {
    display: none;
  }
}

/* _input-range-track.scss */
.input-range__track {
  background: $input-range-track-background;
  border-radius: $input-range-track-height;
  cursor: pointer;
  display: block;
  height: $input-range-track-height;
  position: relative;
  transition: $input-range-track-transition;
  will-change: left, width;

  .input-range--disabled & {
    background: $input-range-track-disabled-background;
  }
}

.input-range__track--background {
  margin-top: -0.5 * $input-range-track-height;
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
}

.input-range__track--active {
  background: $input-range-track-active-background;
}

/* input-range */
.input-range {
  height: $input-range-slider-height;
  position: relative;
  width: 100%;
}